<p>Hallo<f:if condition="{data.participant.firstName}"> {data.participant.firstName} {data.participant.lastName}</f:if>,</p>

<p>es liegt ein neues Protokoll vor:</p>

<f:format.html>{data.protocol.description}</f:format.html>

<p><f:link.action action="show" arguments="{hash: data.protocol.hash}" absolute="true">Direktlink zum Protokoll</f:link.action></p>

<!--<p>Sie können alle ihre Protokolle jederzeit <f:link.action action="edit" controller="User" arguments="{user: data.participant}" absolute="true">hier einsehen</f:link.action>.</p>-->

