<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:hn="http://typo3.org/ns/Hn/Protocol/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:form.hidden property="project"/>
<f:form.hidden property="recorder"/>
<f:form.hidden property="hash"/>
<f:form.hidden property="draft"/>

<div class="form-group">
    <label>Titel</label>
    <f:form.textfield class="form-control" property="title" required="required" placeholder="Titel"/>
</div>

<p>Protokoll: {protocol.recorder.firstName} {protocol.recorder.lastName}</p>

<div class="form-group protocol__form-date">
    <f:if condition="{new}">
        <f:then>
            <f:variable name="date" value="{f:format.date(date: 'now', format:'d.m.Y H:i')}" />
        </f:then>
        <f:else>
            <f:variable name="date" value="{f:format.date(date: protocol.pDate, format:'d.m.Y H:i')}" />
        </f:else>
    </f:if>

    <label>Datum</label>
    <f:form.textfield class="form-control" type="text" property="pDate" id="protocol__form-date" required="required"
                      value="{date}"/>
</div>

<div class="form-group">
    <label>Verteiler</label>

    <f:form.select property="participants" multiple="multiple" class="protocol__form-participants">
        <f:for each="{protocol.project.customer.users}" as="user">
            <f:if condition="{user} == {protocol.recorder}">
                <f:else>
                    <f:form.select.option value="{user.uid}" selected="{f:if(condition: '{hn:isParticipant(user: user, participants: protocol.participants)} || {new}', then:'selected')}">
                        <f:if condition="{user.firstName} || {user.lastName}">
                            <f:then>
                                {user.firstName} {user.lastName} &lt;{user.email}&gt;
                            </f:then>
                            <f:else>
                                {user.email}
                            </f:else>
                        </f:if>
                    </f:form.select.option>
                </f:else>
            </f:if>
        </f:for>
    </f:form.select>
</div>

<div class="form-group">
    <label>Verteiler erweitern</label>

    <f:form.select name="newParticipants" multiple="multiple" class="protocol__form-mailing-list">
        <f:for each="{protocol.participants}" as="user">
            <f:if condition="!{user.usergroup -> f:count()}">
                <f:form.select.option value="{user.email}" selected="selected">
                    <f:if condition="{user.firstName} || {user.lastName}">
                        <f:then>
                            {user.firstName} {user.lastName} &lt;{user.email}&gt;
                        </f:then>
                        <f:else>
                            {user.email}
                        </f:else>
                    </f:if>
                </f:form.select.option>
            </f:if>
        </f:for>
    </f:form.select>
</div>

<div class="form-group">
    <label>Beschreibung</label>
    <f:form.textarea class="form-control" id="protocol__form-description" property="description"/>
</div>

<div class="protocol__form-buttons">
    <f:form.button type="submit" class="btn btn-secondary protocol__form-submit-btn">Entwurf speichern</f:form.button>
    <f:form.button type="submit" name="preview" value="true" class="btn btn-primary protocol__form-submit-btn">
        Vorschau ansehen & Versenden
    </f:form.button>
</div>

</html>