<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <div class="col-md-6 col-md-offset-3">
        <h2>Neuen User zu {project.customer.title} hinzufügen</h2>

        <f:form method="post" action="create" name="user" object="{user}" additionalAttributes="{autocomplete: 'off'}"
                arguments="{project: project}">
            <f:render partial="User/Form" arguments="{_all}"/>
        </f:form>
    </div>
</f:section>

</html>
