<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <f:flashMessages/>

    <h1>{project.title}</h1>

    <f:if condition="{project.protocols}">
        <f:then>
            <table class="table table-striped project__list">
                <tr>
                    <th>Datum</th>
                    <th>Titel</th>
                    <f:security.ifHasRole role="{settings.employeeGroupUid}">
                        <th>Status</th>
                    </f:security.ifHasRole>
                </tr>
                <f:for each="{protocols}" as="protocol">
                    <f:render partial="Project/ProtocolItem" arguments="{protocol: protocol}"/>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <div class="alert alert-info">Es sind noch keine Protokolle vorhanden.</div>
        </f:else>
    </f:if>

    <f:security.ifHasRole role="{settings.employeeGroupUid}">
        <div class="project__actions">
            <f:link.action class="btn btn-secondary"
                           action="new"
                           controller="User"
                           arguments="{project: project}">
                User anlegen
            </f:link.action>
            <f:link.action class="btn btn-primary"
                           action="new"
                           controller="Protocol"
                           arguments="{project: project}">
                Protokoll erstellen
            </f:link.action>
        </div>
    </f:security.ifHasRole>
</f:section>

</html>
