.project {
    &__list {
        & th {
            padding: 8px !important;
            vertical-align: top !important;;
            border-top: 1px solid #dddddd !important;
            font-size: 18px !important;

            &:before {
                display: none !important;
            }
        }

        & td:nth-child(odd), th:nth-child(odd) {
            text-align: center;
            vertical-align: middle;
        }

        &-title {
            width: 75%;

            & span {
                font-size: 22px;
            }
        }
    }

    &__actions {
        float: right;
        margin-top: 20px;
    }
}

.table-condensed th:before {
    display: none !important;
}