<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:hn="http://typo3.org/ns/Hn/Protocol/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr>
    <td>
        <f:format.date format="d.m.Y" date="{protocol.pDate}"/>
    </td>
    <td class="project__list-title">
        <span>
        <f:security.ifHasRole role="{settings.employeeGroupUid}">
            <f:then>
                <f:if condition="{protocol.draft}">
                    <f:then>
                        <f:link.action action="edit"
                                       controller="Protocol"
                                       arguments="{protocol: protocol}">
                            {protocol.title}
                        </f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="show"
                                       controller="Protocol"
                                       arguments="{hash: protocol.hash}">
                            {protocol.title}
                        </f:link.action>
                    </f:else>
                </f:if>
            </f:then>
            <f:else>
                <f:link.action action="show"
                               controller="Protocol"
                               arguments="{hash: protocol.hash}">
                    {protocol.title}
                </f:link.action>
            </f:else>
        </f:security.ifHasRole>
        </span>
        <div>
            Protokoll:
            <hn:listParticipants protocol="{protocol}" />
        </div>
    </td>

    <f:security.ifHasRole role="{settings.employeeGroupUid}">
        <td class="project__list-status">
            <f:if condition="{protocol.draft}">
                <f:then>
                    Entwurf
                </f:then>
                <f:else>
                    <span data-toggle="tooltip" title="{protocol.mailSent -> f:format.date(format: 'd.m.Y - H:i')}">Gesendet</span>
                </f:else>
            </f:if>
        </td>
    </f:security.ifHasRole>
</tr>

</html>