<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <div class="col-md-8 col-md-offset-3">
        <h1>Projekte</h1>

        <div class="protocol__customer-list">
            <f:for each="{customers}" as="customer" iteration="iterator">
                <div class="section-divider" data-wpa="true">
                    <div class="section-wrapper">
                        <span class="divider">
                            <f:if condition="{customer.logo}">
                                <f:then>
                                    <f:image src="{customer.logo.uid}" maxWidth="150" alt="{customer.title}"
                                             treatIdAsReference="1"/>
                                </f:then>
                                <f:else>
                                    {customer.title}
                                </f:else>
                            </f:if>
                        </span>
                    </div>
                </div>

                <ul style="margin-top: 20px;">
                    <f:for each="{customer.projects}" as="project">
                        <li>
                            <h4>
                                <f:link.action action="show"
                                               controller="Project"
                                               arguments="{project: project}">
                                    {project.title}
                                </f:link.action>
                            </h4>
                        </li>
                    </f:for>
                </ul>
            </f:for>
        </div>
    </div>
</f:section>

</html>
