<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <div class="col-md-8 col-md-offset-3">
        <f:link.action action="show" controller="Project" arguments="{project: protocol.project}">&lt;
            {protocol.project.title}
        </f:link.action>

        <h2>Protokoll bearbeiten</h2>

        <f:render partial="Protocol/Validation" arguments="{validationResults}"/>

        <f:form method="post" controller="Protocol" action="update" id="protocol__form" name="protocol"
                object="{protocol}" additionalAttributes="{autocomplete: 'off'}">
            <f:render partial="Protocol/Form" arguments="{protocol: protocol}"/>
        </f:form>
    </div>
</f:section>

</html>