.protocol__form {
    &-mail-btn {
        margin-top: 20px;
    }

    &-submit-btn {
        margin-top: 20px;
    }

    &-date {
        position: relative;
    }

    &-buttons {
        float: right;
    }
}

.selectize-dropdown-content, .selectize-input {
    font-size: 16px;
    cursor: pointer;
}