<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:hn="http://typo3.org/ns/Hn/Protocol/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <div class="protocol col-md-8 col-md-offset-3">
        <div class="protocol_header">
            <f:security.ifAuthenticated>
                <f:link.action action="show" controller="Project" arguments="{project: protocol.project}">&lt;
                    {protocol.project.title}
                </f:link.action>
            </f:security.ifAuthenticated>

            <h2>{protocol.title}</h2>

            <p class="text-muted">
                <f:format.date format="d.m.Y - H:i" date="{protocol.pDate}"/>
                Uhr
            </p>

            <p>
                Protokoll:
                <hn:listParticipants protocol="{protocol}"/>
            </p>
        </div>

        <div class="protocol_description">
            <f:format.html>{protocol.description}</f:format.html>
        </div>


        <div class="protocol__form-buttons">
            <f:link.action action="edit" class="btn btn-secondary" arguments="{protocol: protocol}">
                Entwurf bearbeiten
            </f:link.action>
            <f:link.action action="sendMail" class="btn btn-primary" arguments="{protocol: protocol}"
                           onclick="return confirm('E-Mails versenden?');">Versenden
            </f:link.action>
        </div>
    </div>
</f:section>

</html>