<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:hn="http://typo3.org/ns/Hn/Protocol/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="default"/>

<f:section name="main">
    <div class="protocol col-md-8 col-md-offset-3">
        <div class="protocol_header">
            <f:security.ifAuthenticated>
                <f:link.action action="show" controller="Project" arguments="{project: protocol.project}">&lt;
                    {protocol.project.title}
                </f:link.action>
            </f:security.ifAuthenticated>

            <h2>{protocol.title}</h2>

            <p class="text-muted">
                <f:format.date format="d.m.Y - H:i" date="{protocol.pDate}"/>
                Uhr
            </p>

            <p>
                Protokoll:
                <hn:listParticipants protocol="{protocol}"/>
            </p>
        </div>

        <div class="protocol_description">
            <f:format.html>{protocol.description}</f:format.html>
        </div>

        <f:security.ifHasRole role="{settings.employeeGroupUid}">
            <hr>
            <f:form method="post" controller="Protocol" action="updateParticipants" id="protocol__form" name="protocol"
                    object="{protocol}" additionalAttributes="{autocomplete: 'off'}">

                <div class="form-group">
                    <label>Verteiler erweitern</label>

                    <f:form.select name="participants" multiple="multiple"
                                   class="protocol__form-mailing-list">
                        <f:for each="{protocol.project.customer.users}" as="user">
                            <f:if condition="{user} == {protocol.recorder} || {hn:isParticipant(user: user, participants: protocol.participants)}">
                                <f:else>
                                    <f:form.select.option value="{user.email}">
                                        <f:if condition="{user.firstName} || {user.lastName}">
                                            <f:then>
                                                {user.firstName} {user.lastName} &lt;{user.email}&gt;
                                            </f:then>
                                            <f:else>
                                                {user.email}
                                            </f:else>
                                        </f:if>
                                    </f:form.select.option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </f:form.select>
                </div>

                <div class="protocol__form-buttons">
                    <f:form.button type="submit" onclick="return confirm('E-Mails versenden?');" name="sendMail"
                                   value="true" class="btn btn-primary protocol__form-submit-btn">Versenden
                    </f:form.button>
                </div>
            </f:form>
        </f:security.ifHasRole>
    </div>
</f:section>

</html>
