<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="form-group">
    <label>E-Mail</label>
    <f:form.textfield type="email" class="form-control" property="email" required="required" placeholder="E-Mail"/>
</div>

<div class="form-group">
    <label>Vorname</label>
    <f:form.textfield class="form-control" property="firstName" required="required" placeholder="Vorname"/>
</div>

<div class="form-group">
    <label>Nachname</label>
    <f:form.textfield class="form-control" property="lastName" required="required" placeholder="Nachname"/>
</div>

<div class="form-group">
    <label>Passwort</label>
    <f:form.password class="form-control" property="password" additionalAttributes="{required: 'required'}"
                     placeholder="Passwort"/>
</div>

<button type="submit" class="btn btn-success btn-block protocol__form-submit-btn">Speichern</button>

</html>